In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')
#for text pre-processing
import re, string
import nltk
nltk.download('stopwords')
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import SnowballStemmer
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
#for model-building
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report, f1_score, accuracy_score, confusion_matrix,roc_auc_score
from sklearn.metrics import roc_curve, auc, roc_auc_score
# bag of words
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
#for word embedding
import gensim
from gensim.models import Word2Vec
import requests
from bs4 import BeautifulSoup
import math

#model validation
from sklearn.model_selection import cross_val_score

In [2]:
#1. Load the dataset
df_blog = pd.read_csv("blogtext.csv")
df_blog.head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...

In [4]:
df_blog.shape
#Since datset is too large it will take a long time for preprocessing 
#Taking the sample

(681284, 7)

In [11]:
df = df_blog.sample(10000, random_state=10) #Sampling
df.shape

(10000, 7)

In [12]:
#2. Preprocess rows of the “text” column
#convert to lowercase, strip and remove punctuations
def preprocess(text):
    text = text.lower() 
    text=text.strip()  
    text=re.compile('<.*?>').sub('', text) 
    text = re.compile('[%s]' % re.escape(string.punctuation)).sub(' ', text)  
    text = re.sub('\s+', ' ', text)  
    text = re.sub(r'\[[0-9]*\]',' ',text) 
    text=re.sub(r'[^\w\s]', '', str(text).lower().strip())
    text = re.sub(r'\d',' ',text) 
    text = re.sub(r'\s+',' ',text) 
    return text

In [13]:
# STOPWORD REMOVAL
def stopword(string):
    a= [i for i in string.split() if i not in stopwords.words('english')]
    return ' '.join(a)

In [14]:
# Lemmatization 
lematize = WordNetLemmatizer() # stemmer = Porterstemmer()

In [15]:
def lemmatizing(word):
    lematize = WordNetLemmatizer()
    if(word!= lematize.lemmatize(word,pos='a')):
        return lematize.lemmatize(word,pos='a')
    elif(word!= lematize.lemmatize(word,pos='v')):
        return lematize.lemmatize(word,pos='v')
    else:
        return word

In [16]:
def finalpreprocess(string):
    return lemmatizing(stopword(preprocess(string)))
df['clean_text'] = df['text'].apply(lambda x: finalpreprocess(x))
df.head()

,id,gender,age,topic,sign,date,text,clean_text
262626,3637189,female,27,Consulting,Aquarius,"14,June,2004",All of this rehashing of the ex-b...,rehashing ex boyfriend years opened psychologi...
673780,3389862,female,36,indUnk,Pisces,"01,June,2004",angelemma2000@hotmail.com (Emma's...,angelemma hotmail com emma e mail address ill ...
322119,3295631,female,15,Education,Aquarius,"10,May,2004",On hiatus. Some far off state. A...,hiatus far state also known illinois family re...
52408,2153234,male,27,Religion,Pisces,"23,December,2003",i have been away from internet access for a...,away internet access judging comments either d...
313202,2575612,male,17,Student,Gemini,"03,June,2004",why is my title wayword words? (d...,title wayword words deep thought day well toni...

In [18]:
#3a. Label columns to merge: “gender”, “age”, “topic”, “sign"
df['labels'] = df[df.columns[1:4]].apply(lambda x: ','.join(x.dropna().astype(str)),axis=1)

In [19]:
#3b
df.drop(['id', 'date','text'],axis=1, inplace=True)

In [21]:
df.drop(['gender', 'age','topic','sign'],axis=1, inplace=True)

In [25]:
df.reset_index(inplace=True,drop=True)

In [27]:
df.drop('index',axis=1, inplace=True)

In [28]:
df.head()

                                          clean_text                labels
0  rehashing ex boyfriend years opened psychologi...  female,27,Consulting
1  angelemma hotmail com emma e mail address ill ...      female,36,indUnk
2  hiatus far state also known illinois family re...   female,15,Education
3  away internet access judging comments either d...      male,27,Religion
4  title wayword words deep thought day well toni...       male,17,Student

In [29]:
#4. Separate features and labels, and split the data into training and testing
X = df['clean_text']
y = df['labels']
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state=1)

In [30]:
print(Xtrain.shape)
print(Xtest.shape)
print(ytrain.shape)
print(ytest.shape)

(8000,)
(2000,)
(8000,)
(2000,)

In [31]:
#5a Vectorize the features
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [32]:
vect = CountVectorizer(stop_words='english', ngram_range=(1,2))
X_train_dtm = vect.fit_transform(Xtrain)
X_test_dtm = vect.transform(Xtest)
print(X_train_dtm.shape)
print(X_test_dtm.shape)

(8000, 609982)
(2000, 609982)

In [60]:
#5b.Print the term-document matrix
print(X_train_dtm)
print(X_test_dtm)

  (0, 384562)	3
  (0, 422979)	2
  (0, 50491)	2
  (0, 160505)	1
  (0, 101496)	1
  (0, 530303)	1
  (0, 324274)	1
  (0, 277525)	2
  (0, 474828)	1
  (0, 217724)	1
  (0, 357970)	2
  (0, 585454)	1
  (0, 141459)	1
  (0, 323390)	1
  (0, 521371)	1
  (0, 341799)	1
  (0, 354345)	1
  (0, 549747)	1
  (0, 63368)	1
  (0, 250658)	1
  (0, 142041)	1
  (0, 535741)	1
  (0, 287964)	1
  (0, 545422)	1
  (0, 314426)	1
  :	:
  (7998, 451564)	1
  (7998, 92828)	1
  (7998, 490937)	1
  (7999, 357970)	1
  (7999, 585859)	1
  (7999, 382164)	1
  (7999, 589164)	1
  (7999, 189522)	1
  (7999, 321058)	2
  (7999, 452152)	1
  (7999, 303442)	1
  (7999, 444502)	1
  (7999, 189654)	1
  (7999, 272499)	1
  (7999, 358513)	1
  (7999, 490678)	1
  (7999, 321104)	1
  (7999, 272504)	1
  (7999, 321171)	1
  (7999, 589260)	1
  (7999, 303472)	1
  (7999, 586824)	1
  (7999, 490679)	1
  (7999, 452290)	1
  (7999, 444508)	1
  (0, 1255)	1
  (0, 4315)	1
  (0, 4839)	1
  (0, 74476)	1
  (0, 74830)	1
  (0, 93081)	1
  (0, 93594)	1
  (0, 123659)	1
  (0, 145102)	1
  (0, 166605)	1
  (0, 182782)	1
  (0, 185222)	2
  (0, 203362)	1
  (0, 222111)	1
  (0, 234135)	2
  (0, 257556)	1
  (0, 277525)	1
  (0, 299263)	2
  (0, 315288)	1
  (0, 316386)	1
  (0, 334663)	1
  (0, 338817)	1
  (0, 341138)	1
  (0, 370580)	1
  (0, 391967)	1
  :	:
  (1999, 496431)	1
  (1999, 498200)	3
  (1999, 498207)	1
  (1999, 505967)	1
  (1999, 506478)	1
  (1999, 517203)	1
  (1999, 517345)	1
  (1999, 522839)	1
  (1999, 530303)	1
  (1999, 540197)	1
  (1999, 540233)	1
  (1999, 544956)	1
  (1999, 545182)	1
  (1999, 549085)	1
  (1999, 559308)	3
  (1999, 559328)	3
  (1999, 561313)	1
  (1999, 561355)	1
  (1999, 569226)	1
  (1999, 569229)	1
  (1999, 571501)	2
  (1999, 585536)	1
  (1999, 585543)	1
  (1999, 592436)	1
  (1999, 597012)	2

In [43]:
# 6.Create a dictionary to get the count of every label i.e.
# the key will be label name and value will be the total count of the label.
dic = {}
for i in df.iloc[:,1:5].columns:
    dic.update({k:v for (k,v) in zip(df[i].value_counts().index, df[i].value_counts().values)})
dic

{'female,16,Student': 343,
 'male,17,Student': 274,
 'female,24,indUnk': 273,
 'male,24,indUnk': 251,
 'female,23,indUnk': 247,
 'female,17,Student': 238,
 'male,16,Student': 233,
 'male,17,indUnk': 188,
 'male,25,indUnk': 180,
 'female,26,indUnk': 178,
 'female,16,indUnk': 175,
 'female,17,indUnk': 171,
 'female,27,indUnk': 161,
 'male,15,Student': 158,
 'female,25,indUnk': 152,
 'female,15,Student': 145,
 'male,16,indUnk': 144,
 'female,15,indUnk': 140,
 'male,27,indUnk': 135,
 'female,14,Student': 128,
 'male,23,indUnk': 124,
 'male,26,indUnk': 115,
 'female,23,Student': 114,
 'male,24,Technology': 114,
 'female,34,indUnk': 108,
 'male,15,indUnk': 95,
 'female,14,indUnk': 94,
 'male,34,indUnk': 93,
 'male,14,Student': 83,
 'female,24,Arts': 82,
 'male,24,Student': 80,
 'male,23,Student': 79,
 'male,27,Technology': 70,
 'female,38,indUnk': 58,
 'male,26,Technology': 56,
 'male,25,Student': 55,
 'male,35,Technology': 54,
 'male,33,indUnk': 54,
 'female,33,indUnk': 53,
 'male,17,Non-Profit': 53,
 'female,35,indUnk': 53,
 'male,35,indUnk': 53,
 'male,13,indUnk': 50,
 'male,25,Technology': 50,
 'female,25,Arts': 48,
 'female,24,Student': 46,
 'male,17,Technology': 45,
 'female,13,Student': 44,
 'female,13,indUnk': 43,
 'male,14,indUnk': 41,
 'female,36,indUnk': 41,
 'male,26,Communications-Media': 40,
 'female,48,indUnk': 36,
 'female,23,Arts': 35,
 'female,23,Education': 34,
 'male,25,Engineering': 33,
 'female,39,indUnk': 33,
 'female,27,Student': 32,
 'male,16,Technology': 32,
 'male,25,Chemicals': 32,
 'male,13,Student': 32,
 'female,37,indUnk': 31,
 'male,36,indUnk': 31,
 'female,23,Engineering': 31,
 'male,37,indUnk': 31,
 'male,26,Student': 30,
 'male,24,Arts': 30,
 'female,26,Student': 30,
 'male,23,Technology': 30,
 'male,27,Communications-Media': 29,
 'male,25,Education': 28,
 'female,25,Student': 28,
 'female,40,indUnk': 27,
 'male,36,Fashion': 27,
 'male,23,Internet': 26,
 'male,23,Engineering': 26,
 'female,23,Communications-Media': 25,
 'female,26,Arts': 25,
 'female,17,Non-Profit': 25,
 'female,24,Communications-Media': 24,
 'male,24,Internet': 24,
 'female,27,Education': 24,
 'male,33,Internet': 24,
 'female,24,Education': 23,
 'male,16,Arts': 22,
 'male,42,indUnk': 22,
 'male,25,Arts': 22,
 'male,34,Education': 21,
 'male,26,Law': 21,
 'male,16,Communications-Media': 21,
 'female,23,Non-Profit': 21,
 'male,23,Education': 21,
 'female,25,Education': 20,
 'male,24,Engineering': 20,
 'male,24,Communications-Media': 20,
 'male,40,indUnk': 20,
 'male,25,Communications-Media': 20,
 'male,17,Education': 19,
 'male,26,Arts': 19,
 'female,26,Publishing': 18,
 'female,23,Advertising': 18,
 'female,25,Technology': 18,
 'male,26,Internet': 18,
 'female,25,Communications-Media': 18,
 'male,25,Banking': 18,
 'female,24,Non-Profit': 18,
 'male,15,Education': 18,
 'male,26,Government': 18,
 'male,26,Engineering': 17,
 'male,33,Publishing': 17,
 'male,25,Science': 17,
 'female,26,Marketing': 16,
 'male,26,Education': 16,
 'female,26,Law': 16,
 'male,36,Technology': 16,
 'female,34,Education': 15,
 'male,23,Communications-Media': 15,
 'male,33,Arts': 15,
 'male,24,Education': 15,
 'female,26,Museums-Libraries': 15,
 'male,27,Arts': 14,
 'male,27,Religion': 14,
 'male,27,Law': 14,
 'male,44,indUnk': 14,
 'female,26,Communications-Media': 14,
 'male,24,Non-Profit': 14,
 'female,27,Technology': 14,
 'male,23,Law': 13,
 'female,25,Banking': 13,
 'female,26,Education': 13,
 'male,26,Telecommunications': 13,
 'male,34,Technology': 13,
 'female,17,Arts': 13,
 'male,15,Non-Profit': 13,
 'male,24,Government': 12,
 'female,39,Arts': 12,
 'male,43,Education': 12,
 'male,16,Education': 12,
 'male,27,Manufacturing': 12,
 'female,46,Accounting': 12,
 'female,36,Fashion': 12,
 'female,25,Publishing': 12,
 'female,25,Engineering': 12,
 'male,15,Arts': 12,
 'male,45,Internet': 12,
 'male,33,Education': 11,
 'female,26,Science': 11,
 'female,27,Religion': 11,
 'male,24,Chemicals': 11,
 'male,27,Consulting': 11,
 'male,27,Student': 11,
 'female,24,BusinessServices': 11,
 'male,25,Internet': 11,
 'male,14,Education': 11,
 'female,27,Internet': 11,
 'female,26,Technology': 11,
 'male,37,Communications-Media': 11,
 'male,25,Biotech': 11,
 'male,23,Arts': 11,
 'female,43,indUnk': 10,
 'female,15,Arts': 10,
 'male,17,Government': 10,
 'female,14,Arts': 10,
 'female,23,Law': 10,
 'male,23,Science': 10,
 'female,24,Technology': 10,
 'female,41,indUnk': 10,
 'male,27,Internet': 10,
 'male,24,HumanResources': 10,
 'male,23,Chemicals': 10,
 'male,17,Arts': 10,
 'female,16,Arts': 10,
 'male,41,indUnk': 9,
 'male,37,Religion': 9,
 'female,25,Consulting': 9,
 'male,16,Religion': 9,
 'female,24,Accounting': 9,
 'male,24,Law': 9,
 'male,23,Consulting': 9,
 'female,17,Education': 9,
 'male,23,Sports-Recreation': 9,
 'female,46,indUnk': 9,
 'male,25,Government': 8,
 'male,24,BusinessServices': 8,
 'male,36,LawEnforcement-Security': 8,
 'male,24,Science': 8,
 'male,24,Banking': 8,
 'male,17,Military': 8,
 'female,24,Marketing': 8,
 'male,27,Education': 8,
 'male,45,Publishing': 8,
 'male,36,RealEstate': 8,
 'male,45,indUnk': 8,
 'female,46,Consulting': 8,
 'female,27,Communications-Media': 7,
 'male,39,Arts': 7,
 'male,26,Science': 7,
 'female,37,Accounting': 7,
 'male,15,Science': 7,
 'male,27,Science': 7,
 'male,48,Museums-Libraries': 7,
 'male,44,Publishing': 7,
 'female,25,HumanResources': 7,
 'female,45,indUnk': 7,
 'male,38,Technology': 7,
 'female,33,Non-Profit': 7,
 'male,26,Advertising': 7,
 'male,25,Law': 7,
 'female,37,Non-Profit': 7,
 'female,24,Law': 7,
 'female,26,Telecommunications': 7,
 'female,24,RealEstate': 7,
 'female,33,Internet': 7,
 'male,24,InvestmentBanking': 7,
 'female,17,Sports-Recreation': 7,
 'male,36,Advertising': 7,
 'female,47,indUnk': 7,
 'female,24,Publishing': 7,
 'female,24,Government': 7,
 'male,24,Sports-Recreation': 7,
 'female,26,Non-Profit': 7,
 'male,34,Transportation': 7,
 'female,25,Fashion': 7,
 'male,35,Non-Profit': 7,
 'male,23,Accounting': 7,
 'male,33,Technology': 7,
 'male,43,Internet': 7,
 'female,41,Arts': 7,
 'female,26,Internet': 6,
 'male,26,Publishing': 6,
 'female,24,Internet': 6,
 'male,35,Military': 6,
 'female,25,Accounting': 6,
 'male,44,Technology': 6,
 'female,27,Law': 6,
 'male,17,Communications-Media': 6,
 'male,38,indUnk': 6,
 'female,33,LawEnforcement-Security': 6,
 'male,34,Arts': 6,
 'female,23,Science': 6,
 'female,24,Architecture': 6,
 'female,15,Education': 6,
 'male,23,Publishing': 6,
 'female,27,BusinessServices': 6,
 'female,23,Tourism': 6,
 'male,26,Non-Profit': 6,
 'male,27,Banking': 6,
 'male,23,Manufacturing': 6,
 'male,36,Education': 6,
 'male,17,Religion': 6,
 'female,23,Technology': 6,
 'male,35,Religion': 6,
 'male,39,Communications-Media': 6,
 'male,47,BusinessServices': 6,
 'female,23,Accounting': 6,
 'female,25,Law': 6,
 'female,14,Education': 6,
 'female,36,Consulting': 6,
 'male,17,Internet': 6,
 'male,13,Consulting': 6,
 'male,14,Arts': 6,
 'female,35,Education': 6,
 'male,35,Communications-Media': 6,
 'female,17,Communications-Media': 5,
 'female,26,Engineering': 5,
 'female,16,Tourism': 5,
 'female,16,Telecommunications': 5,
 'male,34,Government': 5,
 'male,35,Transportation': 5,
 'male,38,Communications-Media': 5,
 'female,14,HumanResources': 5,
 'male,15,Government': 5,
 'female,33,Law': 5,
 'male,41,Education': 5,
 'male,23,Military': 5,
 'female,33,Museums-Libraries': 5,
 'female,36,Telecommunications': 5,
 'male,33,Marketing': 5,
 'female,26,BusinessServices': 5,
 'male,25,Telecommunications': 5,
 'male,13,Science': 5,
 'male,43,Construction': 5,
 'female,33,Telecommunications': 5,
 'female,23,Telecommunications': 5,
 'female,24,Banking': 5,
 'male,35,Government': 5,
 'female,26,Government': 5,
 'female,23,Internet': 5,
 'female,27,Government': 5,
 'female,26,Religion': 5,
 'male,25,BusinessServices': 5,
 'female,26,Consulting': 5,
 'female,42,indUnk': 5,
 'male,17,LawEnforcement-Security': 5,
 'male,37,InvestmentBanking': 5,
 'male,34,Internet': 5,
 'female,16,Education': 5,
 'female,27,Marketing': 5,
 'male,39,indUnk': 5,
 'male,15,Technology': 5,
 'male,23,BusinessServices': 5,
 'female,13,Education': 5,
 'female,25,Sports-Recreation': 5,
 'male,25,Consulting': 5,
 'male,27,Advertising': 5,
 'male,36,Communications-Media': 4,
 'female,43,Arts': 4,
 'male,38,Education': 4,
 'male,37,Internet': 4,
 'female,24,Engineering': 4,
 'male,23,Tourism': 4,
 'male,16,Sports-Recreation': 4,
 'female,34,Internet': 4,
 'female,27,HumanResources': 4,
 'female,13,Internet': 4,
 'male,34,Non-Profit': 4,
 'male,16,Fashion': 4,
 'male,24,Transportation': 4,
 'male,23,Biotech': 4,
 'male,44,Telecommunications': 4,
 'female,37,Technology': 4,
 'female,34,Student': 4,
 'male,34,Telecommunications': 4,
 'female,33,Religion': 4,
 'male,15,Religion': 4,
 'female,47,Advertising': 4,
 'male,25,Manufacturing': 4,
 'female,27,Museums-Libraries': 4,
 'female,25,Science': 4,
 'female,43,Education': 4,
 'female,37,Education': 4,
 'female,24,Science': 4,
 'male,25,Tourism': 4,
 'male,43,Technology': 4,
 'female,26,Advertising': 4,
 'male,34,Publishing': 4,
 'female,27,Consulting': 4,
 'female,45,Technology': 4,
 'male,23,Advertising': 4,
 'male,24,Fashion': 4,
 'female,41,HumanResources': 4,
 'male,48,Communications-Media': 4,
 'male,27,Publishing': 4,
 'female,14,Non-Profit': 4,
 'female,40,Technology': 4,
 'male,17,RealEstate': 4,
 'male,33,HumanResources': 4,
 'male,27,Non-Profit': 4,
 'female,27,Non-Profit': 4,
 'male,23,Non-Profit': 4,
 'female,36,Technology': 4,
 'female,38,Education': 4,
 'female,25,Non-Profit': 4,
 'female,34,Arts': 4,
 'female,27,Banking': 4,
 'female,35,Consulting': 4,
 'female,25,RealEstate': 4,
 'female,36,Arts': 3,
 'male,35,Internet': 3,
 'male,40,Communications-Media': 3,
 'female,23,Agriculture': 3,
 'female,27,Publishing': 3,
 'female,24,Advertising': 3,
 'female,35,Technology': 3,
 'female,40,Internet': 3,
 'female,35,Arts': 3,
 'male,16,Chemicals': 3,
 'male,36,Non-Profit': 3,
 'male,43,Sports-Recreation': 3,
 'male,43,Communications-Media': 3,
 'female,27,Arts': 3,
 'male,35,Arts': 3,
 'male,37,Technology': 3,
 'female,33,Arts': 3,
 'male,26,BusinessServices': 3,
 'female,33,Communications-Media': 3,
 'female,35,HumanResources': 3,
 'male,13,Education': 3,
 'female,35,Government': 3,
 'female,45,Education': 3,
 'male,36,Military': 3,
 'male,23,Marketing': 3,
 'female,25,Internet': 3,
 'female,34,Technology': 3,
 'female,24,LawEnforcement-Security': 3,
 'male,40,Museums-Libraries': 3,
 'male,24,Marketing': 3,
 'female,33,Technology': 3,
 'female,24,Agriculture': 3,
 'male,13,Technology': 3,
 'male,33,Communications-Media': 3,
 'female,16,Fashion': 3,
 'male,23,Government': 3,
 'male,36,Transportation': 3,
 'female,33,Banking': 3,
 'female,23,Manufacturing': 3,
 'female,23,Chemicals': 3,
 'female,45,Non-Profit': 3,
 'male,43,Religion': 3,
 'male,34,Advertising': 3,
 'female,26,InvestmentBanking': 3,
 'female,17,Fashion': 3,
 'female,23,Marketing': 3,
 'female,42,Communications-Media': 3,
 'male,24,Military': 3,
 'male,43,indUnk': 3,
 'male,17,Consulting': 3,
 'male,25,Automotive': 3,
 'male,41,Technology': 3,
 'male,39,Internet': 3,
 'female,25,Construction': 3,
 'female,47,Internet': 2,
 'male,17,HumanResources': 2,
 'female,23,RealEstate': 2,
 'male,25,Non-Profit': 2,
 'female,25,Manufacturing': 2,
 'male,15,Internet': 2,
 'male,13,Biotech': 2,
 'female,38,Arts': 2,
 'male,25,Environment': 2,
 'male,24,Advertising': 2,
 'male,16,Military': 2,
 'male,24,Construction': 2,
 'female,16,Chemicals': 2,
 'male,23,Environment': 2,
 'female,37,Communications-Media': 2,
 'female,15,Military': 2,
 'female,34,Publishing': 2,
 'female,14,Telecommunications': 2,
 'female,39,Technology': 2,
 'male,48,Internet': 2,
 'female,25,BusinessServices': 2,
 'male,37,Arts': 2,
 'male,40,Technology': 2,
 'male,42,Marketing': 2,
 'male,23,Automotive': 2,
 'male,27,Government': 2,
 'female,24,InvestmentBanking': 2,
 'male,33,InvestmentBanking': 2,
 'female,46,Automotive': 2,
 'female,27,Science': 2,
 'male,15,Chemicals': 2,
 'female,39,Transportation': 2,
 'male,14,Military': 2,
 'male,35,Student': 2,
 'male,15,HumanResources': 2,
 'female,41,Education': 2,
 'male,41,Publishing': 2,
 'male,34,Communications-Media': 2,
 'male,27,Automotive': 2,
 'female,24,Religion': 2,
 'male,48,indUnk': 2,
 'female,13,Arts': 2,
 'female,25,Architecture': 2,
 'female,47,Museums-Libraries': 2,
 'female,33,Environment': 2,
 'male,23,Banking': 2,
 'male,23,Museums-Libraries': 2,
 'female,44,indUnk': 2,
 'female,41,Consulting': 2,
 'male,23,RealEstate': 2,
 'female,24,Construction': 2,
 'male,16,Maritime': 2,
 'male,36,Automotive': 2,
 'male,33,Banking': 2,
 'female,33,Military': 2,
 'male,47,Internet': 2,
 'male,41,Biotech': 2,
 'female,41,Military': 2,
 'female,15,Accounting': 2,
 'male,44,Internet': 2,
 'male,42,Law': 2,
 'female,23,Religion': 2,
 'female,39,Fashion': 2,
 'female,17,Accounting': 2,
 'male,34,Military': 2,
 'male,42,Publishing': 2,
 'male,39,Technology': 2,
 'male,24,Architecture': 2,
 'male,14,Technology': 2,
 'female,47,Arts': 2,
 'female,24,Biotech': 2,
 'female,15,Communications-Media': 2,
 'male,26,Military': 2,
 'male,26,Religion': 2,
 'male,16,Non-Profit': 2,
 'female,24,Fashion': 2,
 'male,46,Government': 2,
 'female,15,InvestmentBanking': 2,
 'male,27,Engineering': 2,
 'male,46,Technology': 2,
 'female,27,RealEstate': 2,
 'male,34,Architecture': 2,
 'male,26,Fashion': 2,
 'male,46,Arts': 2,
 'male,24,Museums-Libraries': 2,
 'male,25,Marketing': 2,
 'male,42,Technology': 2,
 'male,16,Banking': 2,
 'female,26,HumanResources': 2,
 'male,26,Manufacturing': 2,
 'female,33,Student': 2,
 'female,16,Law': 2,
 'male,16,Biotech': 2,
 'male,25,Transportation': 2,
 'female,40,Engineering': 2,
 'male,45,Government': 2,
 'male,37,HumanResources': 2,
 'female,17,BusinessServices': 2,
 'male,39,Law': 2,
 'male,17,Maritime': 2,
 'female,25,Marketing': 2,
 'male,16,Agriculture': 2,
 'female,26,Chemicals': 2,
 'male,23,Religion': 2,
 'male,46,Transportation': 2,
 'female,37,Arts': 2,
 'female,23,Environment': 2,
 'male,16,Science': 2,
 'female,46,Law': 2,
 'male,27,Sports-Recreation': 2,
 'female,34,Accounting': 2,
 'female,15,Biotech': 2,
 'female,14,Environment': 2,
 'female,33,Architecture': 2,
 'male,48,Government': 2,
 'male,36,Telecommunications': 2,
 'female,35,Advertising': 2,
 'male,36,Consulting': 2,
 'male,36,Arts': 2,
 'male,38,Internet': 2,
 'male,47,Technology': 2,
 'female,33,Publishing': 2,
 'male,17,Advertising': 2,
 'male,46,indUnk': 2,
 'male,24,Consulting': 2,
 'male,33,Transportation': 2,
 'female,14,Consulting': 2,
 'male,13,Chemicals': 2,
 'male,17,Biotech': 2,
 'male,15,RealEstate': 2,
 'female,17,Consulting': 2,
 'male,40,Tourism': 1,
 'female,33,Marketing': 1,
 'female,38,Accounting': 1,
 'male,33,Telecommunications': 1,
 'female,40,Tourism': 1,
 'male,37,Student': 1,
 'female,33,Agriculture': 1,
 'male,42,Military': 1,
 'female,39,Banking': 1,
 'male,26,Architecture': 1,
 'female,15,Law': 1,
 'female,38,Student': 1,
 'male,24,Telecommunications': 1,
 'male,27,Telecommunications': 1,
 'male,41,Law': 1,
 'male,42,InvestmentBanking': 1,
 'male,45,Technology': 1,
 'male,35,Engineering': 1,
 'male,17,Science': 1,
 'male,43,Non-Profit': 1,
 'male,16,Internet': 1,
 'male,24,Agriculture': 1,
 'female,25,Automotive': 1,
 'male,17,Automotive': 1,
 'female,26,Architecture': 1,
 'male,14,Communications-Media': 1,
 'female,33,Education': 1,
 'female,25,Military': 1,
 'male,43,Transportation': 1,
 'female,23,Sports-Recreation': 1,
 'female,13,Non-Profit': 1,
 'female,47,Religion': 1,
 'female,23,Military': 1,
 'male,37,Military': 1,
 'male,39,Engineering': 1,
 'male,17,Law': 1,
 'female,44,Education': 1,
 'male,37,Automotive': 1,
 'female,25,Tourism': 1,
 'male,40,Education': 1,
 'male,17,Accounting': 1,
 'female,38,Manufacturing': 1,
 'female,39,Government': 1,
 'female,39,Science': 1,
 'male,26,Transportation': 1,
 'female,27,Manufacturing': 1,
 'female,35,LawEnforcement-Security': 1,
 'male,47,Student': 1,
 'male,39,Advertising': 1,
 'male,23,LawEnforcement-Security': 1,
 'male,48,Publishing': 1,
 'male,45,Consulting': 1,
 'male,39,Education': 1,
 'female,25,Museums-Libraries': 1,
 'female,14,Agriculture': 1,
 'male,45,Accounting': 1,
 'female,23,Architecture': 1,
 'male,42,HumanResources': 1,
 'female,14,Science': 1,
 'female,23,Construction': 1,
 'male,16,LawEnforcement-Security': 1,
 'male,35,Education': 1,
 'female,27,Accounting': 1,
 'female,46,Arts': 1,
 'male,36,Manufacturing': 1,
 'male,16,Transportation': 1,
 'female,40,Publishing': 1,
 'male,34,Tourism': 1,
 'female,41,Transportation': 1,
 'female,26,Transportation': 1,
 'female,16,Technology': 1,
 'male,34,InvestmentBanking': 1,
 'male,16,Accounting': 1,
 'female,17,LawEnforcement-Security': 1,
 'female,41,Religion': 1,
 'male,45,Engineering': 1,
 'male,38,Transportation': 1,
 'male,33,Museums-Libraries': 1,
 'male,15,Automotive': 1,
 'female,15,Non-Profit': 1,
 'female,17,Religion': 1,
 'male,26,Biotech': 1,
 'female,27,Tourism': 1,
 'female,23,Fashion': 1,
 'female,34,Fashion': 1,
 'male,47,Consulting': 1,
 'male,25,Architecture': 1,
 'male,41,Communications-Media': 1,
 'female,23,BusinessServices': 1,
 'male,15,Communications-Media': 1,
 'female,16,Religion': 1,
 'female,15,Tourism': 1,
 'male,42,Education': 1,
 'female,36,BusinessServices': 1,
 'male,45,Religion': 1,
 'female,37,Architecture': 1,
 'male,16,Law': 1,
 'female,33,HumanResources': 1,
 'male,25,Maritime': 1,
 'male,27,Architecture': 1,
 'male,39,Construction': 1,
 'female,24,Military': 1,
 'female,40,Arts': 1,
 'female,44,Transportation': 1,
 'female,33,Construction': 1,
 'male,36,Law': 1,
 'female,17,Government': 1,
 'male,34,Law': 1,
 'female,25,Telecommunications': 1,
 'male,27,HumanResources': 1,
 'female,24,Transportation': 1,
 'female,26,Tourism': 1,
 'male,14,Biotech': 1,
 'male,26,Accounting': 1,
 'male,14,Non-Profit': 1,
 'male,37,Government': 1,
 'female,25,Religion': 1,
 'female,26,Fashion': 1,
 'female,24,HumanResources': 1,
 'male,14,Environment': 1,
 'male,14,Museums-Libraries': 1,
 'male,36,Internet': 1,
 'male,17,Engineering': 1,
 'male,47,indUnk': 1,
 'male,25,Accounting': 1,
 'female,24,Tourism': 1,
 'male,23,Maritime': 1,
 'male,45,Marketing': 1,
 'male,17,Banking': 1,
 'female,15,Engineering': 1,
 'female,27,Engineering': 1,
 'female,45,Arts': 1,
 'male,27,BusinessServices': 1,
 'female,45,Fashion': 1,
 'female,34,Law': 1,
 'female,42,Accounting': 1,
 'female,27,Telecommunications': 1,
 'female,24,Museums-Libraries': 1,
 'male,37,Telecommunications': 1,
 'female,33,Biotech': 1,
 'male,33,Non-Profit': 1,
 'female,24,Chemicals': 1,
 'male,39,BusinessServices': 1,
 'male,40,Banking': 1,
 'female,24,Consulting': 1,
 'male,34,Manufacturing': 1,
 'male,24,Religion': 1,
 'female,38,Non-Profit': 1,
 'male,40,Consulting': 1,
 'male,33,Automotive': 1,
 'male,23,Transportation': 1,
 'female,35,RealEstate': 1,
 'male,39,Non-Profit': 1,
 'male,26,Agriculture': 1,
 'female,40,Education': 1,
 'male,24,Automotive': 1,
 'female,15,LawEnforcement-Security': 1,
 'female,40,Accounting': 1,
 'female,38,Internet': 1,
 'female,17,Transportation': 1,
 'male,35,InvestmentBanking': 1,
 'male,37,Manufacturing': 1,
 'female,37,Law': 1,
 'female,38,Consulting': 1,
 'male,48,Marketing': 1,
 'male,17,Publishing': 1,
 'female,34,Banking': 1,
 'male,39,Telecommunications': 1,
 'male,14,Religion': 1,
 'male,35,Banking': 1,
 'female,26,Sports-Recreation': 1,
 'female,13,RealEstate': 1,
 'female,37,Internet': 1,
 'female,42,Fashion': 1,
 'male,14,Science': 1,
 'male,26,LawEnforcement-Security': 1,
 'male,38,Student': 1,
 'female,26,Military': 1,
 'male,41,Engineering': 1,
 'male,27,Marketing': 1,
 'male,45,Advertising': 1,
 'female,33,Sports-Recreation': 1,
 'male,45,HumanResources': 1,
 'male,13,Internet': 1,
 'male,17,BusinessServices': 1,
 'female,48,Consulting': 1,
 'male,48,HumanResources': 1,
 'female,23,HumanResources': 1,
 'male,34,Consulting': 1,
 'female,36,Education': 1,
 'female,44,Tourism': 1,
 'female,42,Education': 1,
 'male,37,Engineering': 1,

In [44]:
#7 Transform the labels 
from sklearn.preprocessing import MultiLabelBinarizer

In [45]:
mlb = MultiLabelBinarizer()

In [48]:
y_train_lables = mlb.fit_transform(ytrain)
y_test_lables = mlb.transform(ytest)

In [49]:
y_train_lables, y_test_lables

(array([[1, 0, 0, ..., 0, 0, 0],
        [1, 0, 0, ..., 0, 0, 1],
        [1, 0, 0, ..., 1, 0, 0],
        ...,
        [1, 0, 1, ..., 0, 0, 0],
        [1, 0, 0, ..., 0, 0, 0],
        [1, 0, 0, ..., 0, 0, 0]]),
 array([[1, 0, 0, ..., 0, 0, 0],
        [1, 0, 0, ..., 0, 0, 0],
        [1, 0, 0, ..., 0, 0, 0],
        ...,
        [1, 0, 0, ..., 1, 0, 0],
        [1, 0, 0, ..., 0, 0, 0],
        [1, 0, 0, ..., 0, 0, 1]]))

In [50]:
#8 Use a linear classifier of your choice, wrap it up in OneVsRestClassifier to train it on every label
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression

In [51]:
clf = LogisticRegression(solver = 'lbfgs')
clf = OneVsRestClassifier(clf)

In [61]:
#lr = LogisticRegression(solver = 'lbfgs')
clf.fit(X_train_dtm, y_train_lables)

OneVsRestClassifier(estimator=LogisticRegression())

In [62]:
y_pred_class = clf.predict(X_test_dtm)
y_pred_class_lables = mlb.fit_transform(y_pred_class)
print(y_pred_class, y_test_lables)

[[1 0 0 ... 0 0 0]
 [1 0 0 ... 0 0 0]
 [1 0 0 ... 0 0 0]
 ...
 [1 0 0 ... 0 0 0]
 [1 0 0 ... 0 0 0]
 [1 0 0 ... 0 0 0]] [[1 0 0 ... 0 0 0]
 [1 0 0 ... 0 0 0]
 [1 0 0 ... 0 0 0]
 ...
 [1 0 0 ... 1 0 0]
 [1 0 0 ... 0 0 0]
 [1 0 0 ... 0 0 1]]

In [63]:
#9 Accuracy score
accuracy_score(y_test_lables, y_pred_class)

0.003

In [64]:
#F1 score
f1_score(y_test_lables, y_pred_class,average = 'macro')

0.22928918693228184

In [67]:
#Average precision score
from sklearn.metrics import average_precision_score
average_precision_score(y_test_lables, y_pred_class)

0.27520132934123553

In [69]:
#Average recall score
from sklearn.metrics import recall_score
recall_score(y_test_lables, y_pred_class,average = 'macro')

0.20810443944050744

In [76]:
#Average is assigned micro
from sklearn.metrics import precision_score
precisionScore_sklearn_microavg = precision_score(y_test_lables, y_pred_class, average='micro')
print("precisionScore_sklearn_microavg:",precisionScore_sklearn_microavg)
# Average is assigned macro
precisionScore_sklearn_macroavg = precision_score(y_test_lables, y_pred_class, average='macro')
print("precisionScore_sklearn_macroavg:",precisionScore_sklearn_macroavg)

precisionScore_sklearn_microavg: 0.8432645243668866
precisionScore_sklearn_macroavg: 0.3383269647013467

In [78]:
#10 Print true label and predicted label for any five examples
from sklearn.metrics import multilabel_confusion_matrix
multilabel_confusion_matrix(y_test_lables[5:10], y_pred_class[5:10])

array([[[0, 0],
        [0, 5]],

       [[4, 0],
        [1, 0]],

       [[5, 0],
        [0, 0]],

       [[5, 0],
        [0, 0]],

       [[1, 0],
        [2, 2]],

       [[3, 0],
        [2, 0]],

       [[5, 0],
        [0, 0]],

       [[3, 0],
        [2, 0]],

       [[3, 0],
        [2, 0]],

       [[5, 0],
        [0, 0]],

       [[5, 0],
        [0, 0]],

       [[5, 0],
        [0, 0]],

       [[4, 0],
        [1, 0]],

       [[5, 0],
        [0, 0]],

       [[4, 0],
        [1, 0]],

       [[4, 0],
        [1, 0]],

       [[5, 0],
        [0, 0]],

       [[5, 0],
        [0, 0]],

       [[5, 0],
        [0, 0]],

       [[5, 0],
        [0, 0]],

       [[5, 0],
        [0, 0]],

       [[4, 0],
        [1, 0]],

       [[5, 0],
        [0, 0]],

       [[5, 0],
        [0, 0]],

       [[5, 0],
        [0, 0]],

       [[4, 1],
        [0, 0]],

       [[5, 0],
        [0, 0]],

       [[3, 0],
        [1, 1]],

       [[0, 0],
        [0, 5]],

       [[5, 0],
        [0, 0]],

       [[4, 0],
        [1, 0]],

       [[0, 2],
        [1, 2]],

       [[0, 0],
        [0, 5]],

       [[3, 1],
        [1, 0]],

       [[4, 0],
        [1, 0]],

       [[5, 0],
        [0, 0]],

       [[0, 1],
        [2, 2]],

       [[3, 0],
        [1, 1]],

       [[0, 0],
        [0, 5]],

       [[0, 0],
        [0, 5]],

       [[0, 1],
        [0, 4]],

       [[4, 0],
        [1, 0]],

       [[5, 0],
        [0, 0]],

       [[3, 0],
        [2, 0]],

       [[3, 0],
        [2, 0]],

       [[1, 2],
        [2, 0]],

       [[2, 2],
        [1, 0]],

       [[5, 0],
        [0, 0]],

       [[5, 0],
        [0, 0]],

       [[5, 0],
        [0, 0]]], dtype=int64)